@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Raleway", sans-serif;
  background-color: #f1f1f1;
}

.hero-img {
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}
