@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Raleway", sans-serif;
  background-color: #f1f1f1;
  overflow-x: hidden;
  height: 100%;
}
html,
#root {
  height: 100%;
}
#root {
  display: flex;
  flex-direction: column;
}
.hero-img {
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

.gallery {
  background-image: url(https://res.cloudinary.com/dwrpcntox/image/upload/v1647486508/Shopping-cart/blob_pctzpx.svg);
  background-position: right;
  background-repeat: no-repeat;
}

.offer {
  background: url(../public/img/header-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

@media (min-width: 1020px) {
  .hero,
  .hero-img {
    height: 100vh;
    margin-top: -2rem;
  }
}

.spinner {
  animation: spin infinite 5s linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
