@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Raleway", sans-serif;
  background-color: #f1f1f1;
  overflow-x: hidden;
}

.hero-img {
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

.offer {
  background: url(../public/img/header-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

@media (min-width: 1020px) {
  .hero,
  .hero-img {
    height: 100vh;
    margin-top: -2rem;
  }
}
